footer {
    background-color: black;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; */
}


.social {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    /* margin-left: auto;
    margin-left: 400px; */
}

.container {
    color: white;
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 10px;
    padding-bottom: 30px;

}

img {
    height: 40px;
}